body {
    background-color: #1a1a1a; /* Dark background */
    color: #f8f8f8; /* Light text */
}

.card {
    background-color: #2a2a2a; /* Darker card background */
}

.card-header {
    background-color: #27496d; /* Dark royal blue header */
    color: #f8f8f8;
}

/* Custom scrollbar for chat box */
#chat-box::-webkit-scrollbar {
    width: 8px;
}

#chat-box::-webkit-scrollbar-thumb {
    background: #888;
}

#chat-box::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.movie-link {
    color: #596a7c;
    cursor: pointer;
    text-decoration: underline;
}

.config-toggle {
    /* No need for positioning rules here if using Bootstrap's flex utilities */
    font-size: 24px; /* Adjust size as necessary */
    cursor: pointer;
}


#config-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px;
    width: 250px;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #333333; /* Updated background color */
    padding: 10px;
    z-index: 2;
    color: #f8f8f8; /* Ensure text color is light for readability */
}


/* Additional styles for the main content when config panel is visible */
#main-content {
    transition: margin-left 0.5s; /* Smooth transition for the margin */
}

#main-content.margin-apply {
    margin-left: 250px; /* Push content to the right when panel is visible */
}


.message-sender {
    font-weight: bold;
}

.sender-user {
    color: #4CAF50; /* Green color for 'You' */
}

.sender-bot {
    color: #FF9800; /* Orange color for 'Bot' */
}





