<!DOCTYPE html>
<html>
<head>
    <title>MovieChat Bot Configuration</title>
</head>
<body>
    <h2>Enter API Keys and Discord Token</h2>
    <form method="POST">
    Discord Token: <input type="text" name="discord_token" value="{{ config['discord_token'] }}"><br>
    OpenAI API Key: <input type="text" name="openai_api_key" value="{{ config['openai_api_key'] }}"><br>
    Radarr API Key: <input type="text" name="radarr_api_key" value="{{ config['radarr_api_key'] }}"><br>
    Radarr Quality: <input type="text" name="radarr_quality" value="{{ config['radarr_quality'] }}"><br>
    Radarr URL: <input type="text" name="radarr_url" value="{{ config['radarr_url'] }}"><br>
    TMDB API Key: <input type="text" name="tmdb_api_key" value="{{ config['tmdb_api_key'] }}"><br>
    Select model: 
    <select name="selected_model">
        <option value="gpt-3.5-turbo-1106" {% if config['selected_model'] == 'gpt-3.5-turbo-1106' %} selected {% endif %}>gpt-3.5-turbo-1106</option>
        <option value="gpt-4-1106-preview" {% if config['selected_model'] == 'gpt-4-1106-preview' %} selected {% endif %}>gpt-4-1106-preview</option>
    </select><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>
