<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">




    <title>MovieChat</title>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const configPanel = document.getElementById('config-panel');
            const configToggle = document.getElementById('config-toggle');

            configToggle.addEventListener('click', toggleConfigPanel);

            document.addEventListener('click', function(event) {
                var isClickInsideConfigPanel = configPanel.contains(event.target);
                var isClickInsideConfigToggle = configToggle.contains(event.target);

                if (!isClickInsideConfigPanel && !isClickInsideConfigToggle && configPanel.style.left === '0px') {
                    toggleConfigPanel(); // Close the panel
                }
            });
        });
        function handleRefresh(event) {
            event.preventDefault();  // Prevent default form submission

            // Gather form data
            const formData = new FormData();
            formData.append('radarr_url', document.getElementById('radarr_url').value);
            formData.append('radarr_api_key', document.getElementById('radarr_api_key').value);
            // ... add other form elements ...

            // Send data using fetch
            fetch('/', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    checkServerStatusAndRefreshFolders();
                } else {
                    console.error('Form submission failed');
                }
            })
            .catch(error => console.error('Error:', error));
        }
        
        function handleSubmit(event) {
            event.preventDefault();  // Prevent default form submission

            // Display a loading message
            displayLoadingMessage();

            // Gather form data
            const formData = new FormData(document.querySelector('form'));

            // Send data using fetch
            fetch('/', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    waitForServerReady();  // Wait for server to be ready then reload the page
                } else {
                    console.error('Form submission failed');
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function displayLoadingMessage() {
            // Add a loading message to the page
            let loadingDiv = document.createElement('div');
            loadingDiv.id = 'loadingMessage';
            loadingDiv.style.position = 'fixed';
            loadingDiv.style.top = '50%';
            loadingDiv.style.left = '50%';
            loadingDiv.style.transform = 'translate(-50%, -50%)';
            loadingDiv.style.fontSize = '1.5rem';
            loadingDiv.innerText = 'Configuration is updating. Please wait...';
            document.body.appendChild(loadingDiv);
        }

        function waitForServerReady() {
            fetch('/server_status')
                .then(response => {
                    if (response.ok) {
                        window.location.reload();  // Reload the page
                    } else {
                        setTimeout(waitForServerReady, 1000); // Retry after 1 second
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    setTimeout(waitForServerReady, 1000);
                });
        }

        function markdownToHTML(text) {
            // Convert italics
            let htmlText = text.replace(/\*([^\*]+)\*/g, "<em>$1</em>");

            // Convert bullet points with indentation
            htmlText = htmlText.replace(/^- (.+)$/gm, "<li style='margin-left: 20px;'>$1</li>");
            htmlText = "<ul>" + htmlText + "</ul>"; // Wrap with <ul> tag

            return htmlText;
        }



        function checkServerStatusAndRefreshFolders() {
            fetch('/server_status')
                .then(response => {
                    if (response.ok) {
                        // Server is ready, now refresh Radarr root folders
                        fetchRadarrRootFolders();
                    } else {
                        setTimeout(checkServerStatusAndRefreshFolders, 1000); // Retry after 1 second
                    }
                })
                .catch(error => {
                    console.error('Error checking server status:', error);
                    setTimeout(checkServerStatusAndRefreshFolders, 1000); // Retry after 1 second
                });
        }


        function waitForServerReady() {
    fetch('/server_status')
        .then(response => {
            if (response.ok) {
                // Server is ready, reset UI
                resetUI();
            } else {
                // Retry after a delay
                setTimeout(waitForServerReady, 3000); // Retry after 3 seconds
            }
        })
        .catch(error => {
            console.error('Error:', error);
            setTimeout(waitForServerReady, 3000);
        });
}

function resetUI() {
    // Hide loading indicator
    document.getElementById('loadingIndicator').style.display = 'none';
    // Enable submit button
    document.getElementById('submitBtn').disabled = false;
}

        function fetchRadarrRootFolders() {
            let radarrUrl = document.getElementById('radarr_url').value;
            let radarrApiKey = document.getElementById('radarr_api_key').value;

            if (radarrUrl && radarrApiKey) {
                fetch(`/fetch_root_folders?radarr_url=${encodeURIComponent(radarrUrl)}&radarr_api_key=${encodeURIComponent(radarrApiKey)}`)
                    .then(response => response.json())
                    .then(data => {
                        let rootFolderSelect = document.getElementById('radarrRootFolder');
                        rootFolderSelect.innerHTML = ''; // Clear existing options

                        data.forEach(folder => {
                            let option = document.createElement('option');
                            option.value = folder.path;
                            option.textContent = folder.path;
                            rootFolderSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error:', error));
            }
        }

        async function loadChannels() {
            let token = document.getElementById('discord_token').value;
            if (token) {
                let response = await fetch('/channels?token=' + encodeURIComponent(token));
                if (response.ok) {
                    let channels = await response.json();
                    console.log("Here is the json object I think:", channels)
                    let channelSelect = document.getElementById('discord_channel');
                    channelSelect.innerHTML = '';
                    
                    channels.forEach(channel => {
                        let option = document.createElement('option');
                        option.value = channel.id;
                        option.textContent = channel.name;
                        console.log("Channel name: ", channel.name )
                        console.log("Channel id: ", channel.id)
                        channelSelect.appendChild(option);
                    });
                    channelSelect.disabled = false;
                }
            }
        }

        function handleKeyPress(event) {
            if (event.keyCode === 13) { // 13 is the Enter key
                event.preventDefault(); // Prevent default to avoid form submit
                sendMessage();
            }
        }

        function toggleConfigPanel() {
            var configPanel = document.getElementById('config-panel');
            if (configPanel.style.left === '0px') {
                configPanel.style.left = '-250px'; // Hide the panel
            } else {
                configPanel.style.left = '0px'; // Show the panel
            }
        }



        function sendMessage() {
            let messageInput = document.getElementById('message-input');
            let message = messageInput.value;
            updateChat('user', message);

            // Clear the input box right after sending the message
            messageInput.value = '';

            fetch('/send_message', {
                method: 'POST',
                body: JSON.stringify({ message: message }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                updateChat('bot', data.response);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }



        function refreshDiscordChannels() {
            let token = document.getElementById('discord_token').value || '{{ config["discord_token"] }}';
            if (token) {
                // Existing code to load channels
                loadChannels();
            } else {
                alert("Please enter a Discord token.");
            }
        }

        function checkAndFetchRootFolders() {
            let radarrUrl = document.getElementById('radarr_url').value;
            let radarrApiKey = document.getElementById('radarr_api_key').value;

            if (radarrUrl && radarrApiKey) {
                fetchRadarrRootFolders();
            }
        }

       function updateChat(sender, text) {
            let chatBox = document.getElementById('chat-box');
            let messageDiv = document.createElement('div');
            messageDiv.classList.add('message');

            let senderSpan = document.createElement('span');
            senderSpan.classList.add(sender === 'user' ? 'sender-user' : 'sender-bot');
            senderSpan.textContent = sender === 'user' ? 'You: ' : 'Bot: ';

            let textDiv = document.createElement('div');
            textDiv.classList.add('text-content');

            // Convert markdown to HTML
            let htmlContent = markdownToHTML(text);

            // Set the innerHTML of textDiv to the processed HTML content
            textDiv.innerHTML = htmlContent;

            messageDiv.appendChild(senderSpan);
            messageDiv.appendChild(textDiv);

            chatBox.appendChild(messageDiv);
            chatBox.scrollTop = chatBox.scrollHeight;
        }

         function addMovieToRadarr(tmdbId) {
            fetch(`/add_movie_to_radarr/${tmdbId}`)
            .then(response => response.json())
            .then(data => {
                // Instead of alert, display the message in chat
                updateChat('bot', data.message);
            })
            .catch(error => console.error('Error:', error));
        }





    </script>
</head>
<body>
    <div id="config-panel" >
        <div >

        <h2 class="mt-4">Config</h2>
        <form method="POST">
        <form method="POST">
        <div class="form-group">
            <label for="openai_api_key">OpenAI API Key:</label>
            <input type="text" class="form-control" name="openai_api_key" id="openai_api_key" value="{{ config['openai_api_key'] }}">
        </div>

        <div class="form-group">
            <label for="radarr_api_key">Radarr API Key:</label>
            <input type="text" class="form-control" name="radarr_api_key" id="radarr_api_key" value="{{ config['radarr_api_key'] }}" onblur="fetchRadarrRootFolders()">
        </div>

        <div class="form-group">
            <label for="radarr_url">Radarr URL:</label>
            <input type="text" class="form-control" name="radarr_url" id="radarr_url" value="{{ config['radarr_url'] }}" onblur="fetchRadarrRootFolders()">
        </div>

        <div class="form-group">
            <label for="radarr_quality">Radarr Quality:</label>
            <input type="text" class="form-control" name="radarr_quality" value="{{ config['radarr_quality'] }}">
        </div>

        <div class="form-group">
            <label for="tmdb_api_key">TMDB API Key:</label>
            <input type="text" class="form-control" name="tmdb_api_key" value="{{ config['tmdb_api_key'] }}">
        </div>

        <div class="form-group">
            <label for="selected_model">Model:</label>
            <select class="form-control" name="selected_model">
                <option value="gpt-3.5-turbo-1106">gpt-3.5-turbo-1106</option>
                <option value="gpt-4-1106-preview">gpt-4-1106-preview</option>
            </select>
        </div>

        <div class="form-group">
            <label for="radarrRootFolder">Radarr Root Folder:</label>
            <select class="form-control" name="radarr_root_folder" id="radarrRootFolder">
                <option disabled selected>Refresh to get paths...</option>
            </select>
            <button onclick="handleRefresh(event)" type='button' class="btn btn-primary mt-2">Refresh Root Folders</button>
        </div>
        <br>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save and Reload">
        </div>

        <h2 class="mt-4">Discord Config</h2>
        <div class="form-group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="start_discord_bot_on_launch" name="start_discord_bot_on_launch" {{ 'checked' if config['start_discord_bot_on_launch'] else '' }}>
            <label class="custom-control-label" for="start_discord_bot_on_launch">Start Discord Bot</label>
        </div>



        <div class="form-group">
            <label for="discord_token">Discord Token:</label>
            <input type="text" class="form-control" name="discord_token" id="discord_token" value="{{ config['discord_token'] }}" onchange="loadChannels()">
        </div>

        <div class="form-group">
            <label for="discord_channel">Discord Channel:</label>
            <select class="form-control" id="discord_channel" name="discord_channel" disabled>
                <!-- Options... -->
            </select>

            <div class="form-group">
            </div>
            <button onclick="refreshDiscordChannels()" type="button" class="btn btn-primary mt-2">Refresh Channels</button>
        </div>
        <br>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save and Reload">
        </div>
    </form>


    </div>
   </div>

     <div class="container my-4" id="main-content">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span>Chat with MovieBot</span>
                <div id="config-toggle" class="config-toggle">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </div>
            </div>

            
            <div class="card-body" id="chat-box" style="height: 80vh; overflow-y: scroll;">
                <!-- Chat messages will appear here -->
            </div>
            <div class="card-footer d-flex align-items-center">
                <input type="text" id="message-input" class="form-control" placeholder="Type a message..." onkeypress="handleKeyPress(event)">
                <button onclick="sendMessage()" class="btn btn-primary ml-2"><i class="fa fa-paper-plane"></i></button>
            </div>

        </div>
    </div>

   

    

</div>
</body>
</html>
                    